SESPORT_POSTGRES_HOST=localhost
SESPORT_POSTGRES_DB=sesport
SESPORT_POSTGRES_USER=sesport
SESPORT_POSTGRES_PASSWORD=sesport
SESPORT_POSTGRES_PORT=5432

Admin__Password=sesport

SearXNG__BasicAuthUsername=sesport
SearXNG__BasicAuthPassword=sesport
