[Unit]
Description=Run SESport database cleanup hourly

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=30m
Unit=sesport-db-cleanup.service

[Install]
WantedBy=timers.target
